<div class = 'container-big'>
    <div>
        <h1>QUIZ</h1>
    </div>
    <div class="container">
        <br>
        <br>
        <div align="center">
            <span> you have answered {{count}} / 5 questions</span>
            <br>
          <br>
            <span>Your Score is {{score}}</span>
        </div>
      <br>
        <div align="center">
            <a class="button" {{action 'sessionRestart'}}>Try again </a>
          <a class="button" {{action 'sessionClear'}}>New game</a>
        </div>
    </div>
</div>