 <div class = 'container-big'>
     <div>
        <h1>QUIZ</h1>
    </div>
    <div class="container">
        <br>
      <br>
        <div align="center">
            <span>Enter your name</span>
        </div>
      <br>
        <div align="center">
            {{input value=username placeholder='Enter name' id='username'}}
        </div>
        <br>
      <div align="center">
      <a class="button" {{action 'storeUser'}}>
          Start Game
          </a>
      </div>
      </div>
 </div>